<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--################# НАСТРОЙКА ПАРСЕРА ШАБЛОНА #################-->
    <!--Порядковый номер строки с данными (не с заголовком). Отсчет с 1-->
    <add key="firstRow" value="3"/>
    <!--Порядковый номер колонки с квартирами. Отсчет с 1-->
    <add key="flatColumn" value="1"/>
    <!--Порядковый номер колонки с серийниками. Отсчет с 1-->
    <add key="factoryColumn" value="5"/>

    <!--Режим установки первоначальных значений. Отсчет с 1-->
    <add key="colIPIndex" value="7"/>
    <add key="colPortIndex" value="8"/>
    <add key="colChannelIndex" value="4"/>
    <add key="colMeterNameIndex" value="2"/>
    <add key="colPredValue" value="9"/>

    <!--############## НАСТРОЙКА ПАРАМЕТРОВ СОЕДИНЕНИЯ ##############-->
    <add key="parity" value="2"/>
    <add key="databits" value="8"/>
    <add key="stopbits" value="1"/>
    <add key="baudrate" value="2400"/>
    <add key="dtr" value="true"/>


  </appSettings>

</configuration>